<style>
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
    .StripeElement {
        box-sizing: border-box;

        height: 40px;

        padding: 10px 12px;

        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;

        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Place Order</h1>
        {{!-- <h4>Your Total: ${{total}}</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}d-none{{/if}}">
            {{errMsg}}
        </div> --}}
        <form action="/placeorder" method="POST" id="order-form" name="order-form">
            <div class="group">
                <label>
                    <span>Billing Name</span>
                    <input name="cardholder-name" class="field" placeholder="Cardholders Name" />
                </label>
                <label>
                    <span>Name</span>
                    <input name="name" class="field" placeholder="John doe" />
                </label>                
                <label>
                    <span>Phone</span>
                    <input class="field" name="phone" placeholder="(123) 456-7890" type="tel" />
                </label>
                <label>
                    <span>Address</span>
                    <input class="field" name="address" placeholder="1234 Cherry Tree Lane" type="text" />
                </label>                
                <label>
                    <span>City</span>
                    <input class="field" name="city" placeholder="Atlanta" type="text" />
                </label>
                <label>
                    <span>State</span>
                    <input class="field" name="state" placeholder="GA" type="text" />
                </label>
                <label>
                    <span>Zipcode</span>
                    <input class="field" name="zipcode" placeholder="30338" type="text" />
                </label>                                                
            </div>
            <div class="group">
                <label>
                    <span>Card</span>
                    <div id="card-element" class="field"></div>
                </label>
            </div>
            <button type="submit">Create Order</button>
            <div class="outcome d-none">
                <div class="error"></div>
                <div class="success d-none">
                    {{!-- Success! Your Stripe token is <span class="token"></span> --}}
                    <span class="token d-none"></span>
                </div>
            </div>
        </form>       
    </div>
</div>
<script src="https://js.stripe.com/v3/" type="text/javascript"></script>
<script type="text/javascript" src="javascripts/placeorder.js"></script>